* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .logo img {
    width: 220px;
}

.sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
}

.sidebar .navigation ul li {
    padding: 10px 0px;
}

.sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
    color: #ffffff;
}

.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
}

.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:active .fa:active,
.sidebar .navigation ul li a:focus .fa:focus {
    color: #ffffff;
}

.main-content { flex: 1; padding: 20px; box-sizing: border-box; text-align: center; color: #ffffff; margin-left: 240px; }

.main-content h1.authors-title {
    margin-left: -70px; 
}

h1, h2 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 120px; 
}
#data {
    margin-top: 20px;
}
#loadData {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
}
#myChart {               
    margin-top: 20px;
}


body {
    font-family: Arial, sans-serif;
    /*background-image: url('background2.png');
    background-repeat: no-repeat;*/
}

#data {
    margin-top: 20px;
}
#loadData {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

#myChart {               
    margin-top: 20px;
}
#loadData {
    background-color: rgba(52, 65, 52, 0.466); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    width: 100%;
}